html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#title {
  height: 40px;
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: stretch;
  color: white;
  box-shadow: white 0 0 3px;
  position: relative;
  z-index: 1;
}

#title h1,
#title .close {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-img {
  max-width: 20px;
  margin-right: 4px;
}

#title h1 {
  flex: 1;
  font-size: 16px;
  margin: 0;
}

#title .close {
  padding: 0 14px;
  cursor: pointer;
}

#title .close:hover {
  background-color: white;
  color: var(--primary-color);
}

#title .menu {
  position: relative;
}

#title .menu .button {
  display: block;
  padding: 10px 14px;
}

#title .menu .button:hover {
  background-color: white;
  color: var(--primary-color);
}

#title .menu-list {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: var(--primary-color);
  list-style: none;
  padding: 0;
  margin: 0;
}

#title .menu-list li {
  display: block;
}

#title .menu-list li a {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

#title .menu-list li a:hover {
  background-color: white;
  color: var(--primary-color);
}

#title .menu:hover .menu-list {
  display: block;
}

#main {
  flex: 1;
  width: 100%;
}

#reveal-cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@media print {
  #title,
  #reveal-cover {
    display: none !important;
  }
}
