html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#title {
  height: 40px;
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: stretch;
  color: white;
  box-shadow: white 0 0 3px;
  position: relative;
  z-index: 1;
}

#title h1,
#title .close {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title h1 {
  flex: 1;
  font-size: 16px;
  margin: 0;
}

#title .close {
  padding: 0 20px;
  cursor: pointer;
}

#title .close:hover {
  background-color: white;
  color: var(--primary-color);
}

#main {
  flex: 1;
  width: 100%;
}

#reveal-cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
